@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist', Helvetica, sans-serif;
}

.frontside {
  z-index: 99 !important;
}

.backside {
  z-index: 1 !important;
}

.geist{
  font-family: 'Geist', sans-serif;
}

.dm-sans{
  font-family: 'DM-Sans', sans-serif !important;
}